# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
dist-ssr/

# Environment
*.local
.env

# VS Code
.vscode/*
!.vscode/extensions.json

# Visual Studio
.vs/
.idea/
*.user
*.suo

# .NET
bin/
obj/

# OS
.DS_Store
Thumbs.db